.cardsDiv {
    background: linear-gradient(to right, #00f2fe 15%, #5d8e8a  );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 20px;
    gap: 80px;
}

.card {
    background-color: whitesmoke;
    width: 300px;
    height: 500px;
    padding: 15px;
    margin: 20px;
    border: 3px solid black;
    box-shadow: 10px 10px 0px black; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translate(-5px, -5px);
    box-shadow: 15px 15px 0px black;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: 2px solid black;
    margin-bottom: 15px;
}

.card h1 {
    font-family: 'Arial', sans-serif;
    color: #5d8e8a;
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    color: #333;
}