.encabezadoDiv {
    /*background-color: #5d8e8a;*/
    background: linear-gradient(to right, #00f2fe 15%, #5d8e8a  );
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
}


.logoDiv img {
    width: 120px;
    height: auto;
    display: block;
    border-radius: 15px;
}

.menuDiv ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.menuDiv ul li {
    background-color: #39c5bb;
    color: white;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    
}

.menuDiv ul li:hover {
    background-color: #416968;
    color: #bec8d1;
}

.redesDiv ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    
}

.redesDiv img {
    width: 24px; 
    height: auto;
}