.footerDiv{
    background: linear-gradient(to right, #00f2fe 15%, #5d8e8a  );
    gap: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.footer {
    text-align: center;
    padding: 10px;
    width: 30%;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.footer h3 {
    color: #ffffff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;

}